#selectreview-container{
    background-color: #305295;
    text-align: center;
    padding-top: 2%;
    height:7rem
}
#selectReview-title{
    font-size: 50px;
    color: #ffffff;
}

#select-buttons-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: fit-content;
}

.selectbtn {
    padding: 10px 20px;
    background-color: #777777;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 5%;
    white-space: nowrap; 
  }
.selectbtn:hover{
    background-color: #ECC40C; 
}